@page "/datepicker"

<p>Clear button test:</p>
<SfDatePicker @bind-Value="ClarButtonTestValue" ShowClearButton="true" TValue="DateTime?"></SfDatePicker>

<br />

<p>ValueChanged event test:</p>
<EditForm EditContext="ValueChangedEditContext">
    <p>Wrapper date picker</p>
    <CustomDatePicker Value="ValueChangedModelInstance.Value" ValueChanged="ValueChanged"></CustomDatePicker>
    <p>SfDatePicker</p>
    <SfDatePicker Value="ValueChangedModelInstance.Value" ValueChanged="ValueChanged" TValue="DateTime?" ShowClearButton="true" Readonly="DatePickerReadonly"></SfDatePicker>
</EditForm>

<br />
<SfCheckBox @bind-Checked="DatePickerReadonly">Set DatePicker to readonly</SfCheckBox>

<SfGrid AllowFiltering="true" AllowPaging="true" TValue="WeatherForecast" AllowResizing="true" AllowReordering="true" AllowSorting="true" AllowTextWrap="true" ShowColumnChooser="true" Width="100%" DataSource="@(new List<WeatherForecast>())">
        <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
        <GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar">
        </GridFilterSettings>
        <GridColumns>
            <GridColumn Field="@nameof(WeatherForecast.Date)" Type="ColumnType.DateTime">
                <FilterTemplate>
                     <SfDatePicker Value="ValueChangedModelInstance.Value" ValueChanged="ValueChanged" TValue="DateTime?" ShowClearButton="true" Readonly="DatePickerReadonly"></SfDatePicker>
                </FilterTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.TemperatureC)"></GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.TemperatureF)"></GridColumn>
            <GridColumn Field="@nameof(WeatherForecast.Summary)"></GridColumn>
        </GridColumns>
    </SfGrid>

@code{
#pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
    [Inject]
    ILogger<DatePicker> Logger { get; set; }

    DateTime? ClarButtonTestValue { get; set; }

    EditContext ValueChangedEditContext { get; set; }
    ValueChangedModel ValueChangedModelInstance { get; set; }
#pragma warning restore CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.

    bool DatePickerReadonly {get;set;}

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ValueChangedModelInstance = new();
        ValueChangedEditContext = new EditContext(ValueChangedModelInstance);
    }

    void ValueChanged(DateTime? value)
    {
        Logger.Here(l => l.LogInformation("{@0}", value));
        ValueChangedModelInstance.Value = value;
    }

    public class ValueChangedModel
    {
        protected DateTime? _value;
        public DateTime? Value
        {
            get
            {
                return _value;
            }
            set
            {
                LoggerHelper<ValueChangedModel>.Here(l => l.LogInformation("{@0}", value));
                _value = value;
            }
        }
    }
}
