@page "/gridtesting"

<h3>GridTesting</h3>

<p>Try removing a row (bound to IQueryable):</p>

<SfGrid DataSource="@Forecasts" AllowPaging="true" TValue="WeatherForecast" AllowTextWrap="true" AllowResizing="true" Width="100%">
    <GridPageSettings PageSize="10" PageSizes="new int[] { 5, 10, 20}"></GridPageSettings>
     <GridEditSettings AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Normal"></GridEditSettings>
     <GridTextWrapSettings WrapMode="WrapMode.Both"></GridTextWrapSettings>
     <GridEvents TValue="WeatherForecast"
                    OnActionFailure="@OnGridActionFailureAsync"
                    OnActionComplete="OnGridActionCompleteAsync">
     </GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(WeatherForecast.Id) HeaderText="Id" IsPrimaryKey="true" Visible="false" Width="100"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Summary"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="TempC" Width="100"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="TempF" Width="100"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Date" Width="200"></GridColumn>

        <GridColumn Width="75px">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption=@(new AttachmentDeleteCommandButtonOptions())></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

<p>Try removing a row (bound to List) without a primary key column, which is required per documentation:</p>

<SfGrid DataSource="@ForecastsList" AllowPaging="true" TValue="WeatherForecast" AllowTextWrap="true" AllowResizing="true" Width="100%">
    <GridPageSettings PageSize="10" PageSizes="new int[] { 5, 10, 20}"></GridPageSettings>
     <GridEditSettings AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Normal"></GridEditSettings>
     <GridTextWrapSettings WrapMode="WrapMode.Both"></GridTextWrapSettings>
     <GridEvents TValue="WeatherForecast"
                    OnActionFailure="@OnGridActionFailureAsync"
                    OnActionComplete="OnGridActionCompleteAsync">
     </GridEvents>
    <GridColumns>
        @*<GridColumn Field=@nameof(WeatherForecast.Id) HeaderText="Id" IsPrimaryKey="true" IsIdentity="true" Visible="false" Width="100"></GridColumn>*@
        <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Summary"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="TempC" Width="100"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="TempF" Width="100"></GridColumn>
        <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Date" Width="200"></GridColumn>

        <GridColumn Width="75px">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption=@(new AttachmentDeleteCommandButtonOptions())></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>